@if (memberService.member(); as member) {
  <div class="flex flex-col gap-3">
    <div class="flex gap-4-">
      <span class="font-bold">Member since: </span>
      <span> {{ member.created | date: 'longDate' }}</span>
    </div>
    <div class="flex gap-4-">
      <span class="font-semibold">Last Active: </span>
      <span> {{ member.lastActive | timeAgo }}</span>
    </div>

    <h3 class="text-xl font-semibold text-primary">About {{ member.displayName }}</h3>
    @if (memberService.editMode()) {
      <form #editForm="ngForm" (ngSubmit)="updateProfile()" class="flex flex-col w-full gap-4 ">
        <label class="floating-label">
          <span class="text-base">Display Name</span>
          <input
            class="input w-full"
            name="Display Name"
            [(ngModel)]="editableMember.displayName"
            placeholder="Display Name"/>
        </label>
        <label class="floating-label">
          <span class="text-base">Description</span>
          <textarea
            class="textarea w-full"
            name="Description"
            [(ngModel)]="editableMember.description"
            placeholder="Description"></textarea>
        </label>
        <label class="floating-label">
          <span class="text-base">City</span>
          <input
            class="input w-full"
            name="City"
            [(ngModel)]="editableMember.city"
            placeholder="City"/>
        </label>
        <label class="floating-label flex-1">
            <span class="text-base">Country</span>
            <input
              class="input w-full"
              name="country"
              [(ngModel)]="editableMember.country" 
              placeholder="Country"/>
          </label>
        <div class="flex self-end">
            <button [disabled]="!editForm.dirty" class="bg-blue-500 text-white font-bold py-2 px-4 rounded
           disabled:hover:bg-gray-400 disabled:cursor-not-allowed
           hover:bg-blue-700" type="submit">Save Changes</button>
        </div>
      </form>
    } @else {
      <div>{{ member.description }}</div>
    }
  </div>
}