@if (memberService.member(); as member) {
  <div class="container mx-auto mt-5 px-4">
    <div class="flex flex-col md:flex-row gap-6">
      
      <div class="w-full md:w-1/4">
        <div class="card bg-base-100 shadow-xl border border-base-300 h-[85vh] flex flex-col overflow-hidden">
          
          <div class="px-10 pt-10">
            <img
              src="{{ member.imageUrl || 'user.png' }}"
              alt="member image"
              class="rounded-full object-cover aspect-square w-full border-4 border-primary/10"
            />
          </div>

          <div class="card-body items-center text-center grow overflow-y-auto">
            <div class="flex flex-col items-center">
                <h1 class="text-2xl font-bold text-primary">{{ member.displayName }}, {{member.dateOfBirth | age}}</h1>
                <div class="text-sm opacity-60">{{ member.city }}, {{ member.country }}</div>
            </div>
            
            <div class="divider my-2"></div>
            
            <ul class="menu rounded-box bg-base-100 w-full gap-1">
                <li><a routerLink="profile" routerLinkActive="text-primary">Profile</a></li>
                <li><a routerLink="photos" routerLinkActive="text-primary">Photos</a></li>
                <li><a routerLink="messages" routerLinkActive="text-primary">Messages</a></li>
            </ul>  
          </div>
          
          <div class="card-actions p-4 gap-2 bg-base-200/50">
            <button class="btn btn-info flex-1 btn-sm md:btn-md">Go back</button>
            <button class="btn btn-primary flex-1 btn-sm md:btn-md">Like</button>
          </div>

        </div>
      </div>

      <div class="w-full md:w-3/4">
        <div class="card bg-base-100 shadow-xl border border-base-300 h-[85vh] p-6">
          <div class="flex justify-between items-center">
            <h3 class="card-title text-3xl text-primary">{{title()}}</h3>
            @if (isCurrentUser()) {
              <button (click)="memberService.editMode.set(!memberService.editMode())" class="btn btn-outline text-lg text-primary">
                {{memberService.editMode() ? 'Cancel' : 'Edit'}}
              </button>
            }
          </div>
            <div class="divider"></div>
            <div>
              <router-outlet></router-outlet>
            </div>

        </div>
      </div>

    </div>
  </div>
}